*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility Classes */
.navicon{
    display: none;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-primary{
    color:#FF5A52;
}
.text-primary-black{
    color: #686868;
}
.text-primary-white{
    color:white; 
}
.bg-ligth{
    background-color: white;
    color: #333333;
}
.bg-dark{
    background-color: #333333;
    color: white;
}
.bg-red{
    background-color:#FF5A52;
    color: white;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    color: black;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem ;}
.p-2{padding: 2rem ;}
.p-3{padding: 3rem ;}

.btn{
    display: inline-block;
    background:#333333;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 5px;
    color:white;
}
.btn:hover{
    background: #161616;
    color: white;
}

.btn-dark{
    background: #333333;
    color: white;
}
.btn-light{
    background: white;
    color: #333333;
}


.list{
    margin: 0.5rem;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444444 dotted 1px;
}
/* NavBar */
#navbar{
    display: flex;
    background: #333333; 
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
#navbar .navbar-up{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
    /* position: relative; */
}
#navbar .navbar-up.logo{
    margin-right: 2rem;
    
}
#navbar .navbar-down{
    display: flex;
    align-items: center;
    
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
color: white;
padding:  1.3rem;
/* margin: 0 0.2rem; */

}

#navbar ul li a:hover{
    background: #161616;
}

/* Showcase */

#showcase{
    background:#333333 url('../img/Wallpaper\ [HD]\ \(25\).jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 60;
    left: 0;
    right: 0;
    
    background-color: rgba(0,0,0,0.4);
}

/* Section: what we do */
#what .items{
    display: flex;
    padding: 1rem;
}
#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    margin-bottom: 10px;
    background: #FF5A52;
    padding: 1rem;
    border-radius: 50%;

}

/* Setion: Who we are */
#who{
    display: flex;
}
#who div{
    flex: 1;
}
#who .who-img{
    background: url('../img/rh01.jpg') no-repeat center center/cover;
}
/* Section: Client */
#clients .items{
    display: flex;
    
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Section: Contact */
#contact{
    display: flex;
}

#contact .map, #contact .contact-form{
     flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form .form-group input, #contact .contact-form .form-group textarea,#contact .contact-form input{
    width: 100%;
    padding: 0.75rem;
}